<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>Gweekz</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>

          <h3>Navbar Placeholder</h3>
        <hr>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>
  

     </body>
</html>